@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

body {
    font-family: 'Raleway', sans-serif;
    color: #eee;
}

/* ROOT FONT STYLES */

* {
    line-height: 1.5;
}

a{
    color: #1e88e5;
}

a:visited{
    color: #1e88e5;
}
/* TYPOGRAPHY */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.5;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

sub {
    line-height: 2;
    font-size: 0.875rem;
}

strong{
    font-weight: 600;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}